@import url(./system.css);


html {
  overflow: hidden;
  font-family: "Inter Tight", sans-serif;
  font-weight: 600;
}

body {
  background-color: black !important;
  height: 100vh;
}

#root {
  width: max(1220px, 100%);
  height: 100%;
}

.main-container {
  background-color:var(--main-app-color);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px black inset !important;
    -webkit-text-fill-color: var(--white) !important;
}


