.ws-connection {
  border: none;
  background-color: transparent;
}

.ws-connection.ws-connection.active .ws-connection-icon {
  stroke: var(--white);
} 

.copy-nest-icon:hover {
  fill: var(--white);
}

.send-test-request-icon, 
.new-nest-icon, 
.nest-history-icon, 
.copy-nest-url-icon, 
.nest, 
.ws-connection-icon {
  stroke: black;
  height: var(--icon-size);
}

.send-test-request-icon:hover, 
.new-nest-icon:hover, 
.nest-history-icon:hover, 
.copy-nest-url-icon:hover, 
.nest-history-icon:hover,
.nest-history-icon.active,
.nest-history.visible a .nest:hover
.nest:hover,
.nest.active {
  stroke: var(--main-app-color) !important;
  cursor: pointer;
}

.ws-connection-icon:hover {
  cursor: pointer;
  stroke: var(--white) ;
}

.nest:hover {
  cursor: pointer;
}

a:nth-child(1) .nest {
  stroke: black;
}

a:nth-child(2) .nest {
  stroke: rgb(56, 56, 56);
}

a:nth-child(3) .nest {
  stroke: rgb(90, 90, 90);
}

a:nth-child(4) .nest {
  stroke: rgb(139, 139, 139);
}

a:nth-child(5) .nest {
  stroke: rgb(175, 175, 175);
}

a:nth-child(6) .nest {
  stroke: rgb(216, 216, 216);
}
