button {
  background-color: black;
  color: var(--main-app-color);
  border-radius: 10px;
  border: none;
}

button:hover {
  cursor: pointer;
  color: white;
}

.ws-icon {
  fill: white;
}

.copy-nest-icon {
  fill: var(--icon-color);
  fill: black;
  height: 1.6rem;
  height: 4vh;
  /* height: 100px; */
}

.copy-nest-icon:hover {
  fill: white;
}

.send-test-request-icon, .new-nest-icon {
  /* stroke: gray; */
  /* fill-rule:'evenodd';
  stroke-linecap:'round';
  stroke-linejoin:'round'; */
  /* stroke-width:20px; */
  /* width: 60%; */
  /* stroke: white; */
  color: var(--icon-color);
  color: black;
  /* fill: white; */
  height: 4vh;
}

.send-test-request-icon:hover,
.new-nest-icon:hover {
  color: white;
}