.ws-connection {
  border: none;
  background-color: black;
  background-color: transparent;
  border-radius: var(--general-border-radius);
  border-radius: 100px;
  width: 5vh;
  height: 5vh;
}

.ws-connection-icon {
  stroke: black;
  /* width: 3.3vh; */
}



.ws-connection.ws-connection.active .ws-connection-icon {
  stroke: whitesmoke;
}

.ws-connection-icon:hover {
  stroke: whitesmoke;
  /* width: var(--icon-size); */
}

button:hover {
  cursor: pointer;
  color: white;
}

.ws-icon {
  fill: white;
}

.copy-nest-url-icon {
  /* fill: var(--icon-color);
  fill: black; */
  height: var(--icon-size);

}

.copy-nest-icon:hover {
  fill: white;
}

.send-test-request-icon, .new-nest-icon, .nest-history-icon, .copy-nest-url-icon {
  height: var(--icon-size);
}

.nest-history-icon.active {
  stroke: var(--main-app-color);
}

.send-test-request-icon:hover,
.new-nest-icon:hover {
  color: white;
}

.nest-history .nest {
  height: 3.6vh;
  stroke: black;
}

.nest-history.visible a .nest:hover {
  stroke: var(--main-app-color);
  cursor: pointer;
}

a:nth-child(1) .nest {
  stroke: rgb(41, 41, 41);
}

a:nth-child(2) .nest {
  stroke: rgb(56, 56, 56);
}

a:nth-child(3) .nest {
  stroke: rgb(90, 90, 90);
}

a:nth-child(4) .nest {
  stroke: rgb(139, 139, 139);
}

a:nth-child(5) .nest {
  stroke: rgb(175, 175, 175);
}

a:nth-child(6) .nest {
  stroke: rgb(216, 216, 216);
}

.nest:hover {
  stroke: var(--main-app-color);
}

.nest.active {
  stroke: var(--main-app-color) !important;
}