
.main-container.lower {
  height: max(100px, 40%);
  /* background-color: rgb(61, 42, 42); */
  background-color: black;
  /* border: 1px solid salmon; */
  display: flex;
  justify-content: space-between;
  /* justify-content: center; */
  /* height: 100%; */
  font-weight: 300;
}


.request-details, .main-control-area, .message-details {
  padding: 10px 0;
}
.request-details, .message-details {
  width: max(300px, 43%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.message-details {
  width: max(100px, 26%);
}

.request-method, .message-server-url, .request-main-details, .message-data {
  width: max(300px, 100%);
  height: 22%;
  border-radius: 30px;
  padding: 10px;
  color: black;
}

.request-main-details {
  padding: 0px;
}

.request-method {
  display: flex;
  align-items: end;
  gap: 10px;
}

.request-method > h1 {
  font-size: 2.3rem;
  /* margin-top: 32px;
  margin-left: 20px; */
  font-weight: 600;
  color: black;
}

.request-method > p {
  font-size: 1.3rem;
  margin-bottom: 3px;
  font-weight: 500;
}

.request-method {
  background-color: red;
}

.request-main-details, .message-data {
  display: flex;
  height: 100%;
  gap: 10px;
}

.request-main-details {
  border: 6px solid red;
  flex-direction: column;
  gap: 0px;
  overflow-y: scroll;
  scrollbar-width: none;
  background-color: black;
}



.request-main-details > div.tabs > div:hover {
  /* background-color: black; */
  cursor: pointer;
}

.request-main-details > div.tabs {
  display: flex;
  gap: 10px;
  background-color: red;
  padding: 5px 10px;
  font-weight: 600;
}

.tabs > div:hover {
  background-color: red;
  color: white;
}

.tabs > div.active {
  background-color: red;
  /* color: black */
}

.request-main-details > div.content {
  display: flex;
  /* height: 100%; */
  color: red;
  overflow: scroll;
  scrollbar-width: none;
  justify-content:flex-start
}

.request-data-table {
  flex: 0 0 100%;
  /* margin: 10px; */
  /* border-collapse: collapse; */
}

.request-data-table th {
  border-bottom: 2px solid red;
  min-width: 180px;
  text-align: left;
  /* max-height: 20px; */
}

.request-data-table td {
  color: rgb(255, 113, 113);
  /* border-left: 2px solid red; */
  border-bottom: 2px solid red;
  width: 100%;
  max-height: 20px;
}

.request-data-table th,
.request-data-table td {
  padding: 5px 5px 5px 15px;
}

.main-controls {
  /* border: 1px solid gray; */
  width: 90px;
  align-items: center;
}

.main-control-area {
  width: max(100px, 30%);
  /* border-left: 1px solid var(--main-app-color);
  border-right: 1px solid var(--main-app-color); */
  display: flex;
  justify-content: space-between;
  /* padding: 10px 0; */
  gap: 10px;
}

.main-control-area > div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px
}

.messages-control {
  border: 5px solid #064b85;
  border-radius: 30px;
  width: max(33%, 150px);
  transition: all 0.5 ease;
  align-items: center;
  /* justify-content: center; */
  gap: 20px;
  /* visibility: collapse; */
}

.messages-control form {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

.messages-control form input {
  border-radius: 10px;
  width: 100%;
  border: 2px solid var(--main-app-color);
  background-color: black;
  height: 30px;
  color: white;
  outline: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding-left: 10px;
}

form input:active,
form input:focus,
textarea {
  background-color: black;
  border: 3px solid white;
}

.expandable {
  scrollbar-width: none;
  width: 0;
  visibility: collapse;
  opacity: 0;
  overflow: scroll;
  transition: opacity 0.5s, overflow 1s;
  /* transition: opacity 1s 2s; */
  /* height: 50px; */
}

.expandable.visible {
  width: 100%;
  visibility: visible;
  overflow: scroll;
  opacity: 1;
}

.expandable.invisible {
  /* width: 0; */
  transition: opacity 0.5s, overflow 1s;
  /* visibility: collapse; */
  opacity: 0;
  overflow: scroll;
}

.message-details > .message-data {
  /* background-color: black; */
  color: black;
  border: 5px solid #064b85;
  padding: 0;
  height: 78%;
  display: flex;
  flex-direction: column;
  gap: 0;
}

.message-data > div {
  padding: 10px;
}

.message-details > .message-server-url {
  display: flex;
  align-items: center;
  /* background-color: black; */
  background-color: var(--main-app-color);
  /* background-color: #064b85; */
  color:black;
  /* border: 5px solid var(--main-app-color); */
  font-weight: 700;
  font-size: 1.4rem;
  height: 54px;
  
}

.message-data .arrived-on {
  font-weight: 600;
  background-color: var(--main-app-color);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.message-data .data {
  overflow-y: scroll;
  scrollbar-width: none;
}

pre {
  /* background-color: #333; */
  color: #fff;
  padding: 15px;
  /* border-radius: 5px; */
  /* white-space: pre-wrap; Ensures it wraps if too long */
  /* word-wrap: break-word; */
  /* width: 100%; */
}

