.main-container.lower {
  height: max(100px, 40%);
  background-color: black;
  display: flex;
  justify-content: space-between;
  font-weight: var(--base-font-weight);
}

.request-details, .main-control-area, .message-details {
  padding: var(--padding-and-gaps) 0;
}

.request-details * {
  transition: all 0.4s ease;
}


.request-details, .message-details {
  width: max(300px, 43%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--padding-and-gaps);
}

.message-details {
  width: max(100px, 26%);
}

.request-method, .message-server-url, .request-main-details, .message-data {
  width: max(300px, 100%);
  border-radius: var(--general-border-radius);
  padding: var(--padding-and-gaps);
  color: black;
}

.request-main-details {
  padding: 0px;
}

.request-method {
  display: flex;
  align-items: center;
  gap: var(--padding-and-gaps);
  min-height: 65px;
  padding-left: 25px;
}

.request-method > h1 {
  font-size: 2.3rem;
  font-weight: var(--xxl-font-weight);
  color: black;
}

.request-method > p {
  font-size: var(--srD);
  margin-bottom: 8px;
  font-weight: var(--xl-font-weight);
  margin-top: auto;
}

.request-main-details, .message-data {
  display: flex;
  height: 100%;
  gap: var(--padding-and-gaps);
}

.request-main-details {
  border: var(--big-border-width) solid;
  border-top-width: var(--padding-and-gaps);
  flex-direction: column;
  gap: 0px;
  overflow-y: scroll;
  scrollbar-width: none;
  font-weight: var(--xxl-font-weight);
}

.origin-address {
  margin-left: auto;
  margin-bottom: 1px;
}

.request-main-details > .tabs {
  display: flex;
  gap: var(--padding-and-gaps);
  padding: 5px 20px 5px 15px;
  font-weight: var(--xxl-font-weight);
  color: black;
  width: 100%;
}

.request-main-details .tab {
  cursor: pointer;
}

.request-main-details .arrived-on {
  margin-top: 5px;
  margin-left: auto;
  margin-right: 20px;
}

.tabs > .tab:hover {
  color: var(--white);
}

.tabs > .tab.active {
  color: var(--white);
}

.request-main-details > div.content {
  display: flex;
  overflow: scroll;
  scrollbar-width: none;
  justify-content:flex-start
}

.request-data-table {
  flex: 0 0 100%;
  background-color: black;
}

.request-data-table th {
  min-width: 180px;
  text-align: left;
}

.request-data-table td {
  color: rgb(139, 114, 114);
  width: 100%;
  max-height: 20px;
}

.request-data-table th,
.request-data-table td {
  padding: 5px 5px 5px 15px;
}

.request-data-raw-body {
  padding-left: 15px;
}

.main-controls {
  width: 100px;
  align-items: center;
  justify-content: center;
  gap: 1.8vh;
  border-radius: var(--general-border-radius);
  background-color: var(--white);
  margin-left: 5px;
}

.main-controls button {
  background-color: transparent;
  color: var(--main-app-color);
  border: none;
}

.main-control-area {
  width: max(100px, 30%);
  display: flex;
  justify-content: space-between;
  gap: var(--padding-and-gaps);
}

.main-control-area > div {
  display: flex;
  flex-direction: column;
}

.messages-control-and-flash-panel {
  flex: 1;
  padding: 0px;
  gap: var(--padding-and-gaps);
  min-width: 300px;
}

.messages-control {
  border: var(--big-border-width) solid var(--main-app-color);
  border-radius: var(--general-border-radius);
  width: max(33%, 150px);
  transition: all 0.5 ease;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex: 1;
  padding: var(--padding-and-gaps);
  display: flex;
  background-color: var(--main-app-color);
}

.messages-control form {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  padding: 0px var(--padding-and-gaps);
}

.messages-control form input {
  all: unset;
  border-radius: 20px;
  width: 100%;
  background-color: black;
  height: 45px;
  color: var(--white);
  outline: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding: 0px var(--padding-and-gaps);
  font-weight: var(--base-font-weight);
  box-shadow: none;
}

form input:active,
form input:focus,
textarea {
  background-color: black;
  border: 3px solid var(--white);
}

.expandable {
  scrollbar-width: none;
  width: 0;
  visibility: collapse;
  opacity: 0;
  overflow: scroll;
  transition: opacity 0.5s, overflow 1s;
}

.expandable.visible {
  width: 100%;
  visibility: visible;
  overflow: scroll;
  opacity: 1;
}

.expandable.invisible {
  transition: opacity 0.5s, overflow 1s;
  opacity: 0;
  overflow: scroll;
}

.flash-message {
  font-weight: var(--base-font-weight);
  color: black;
  border-radius: var(--general-border-radius);
  background-color: var(--main-app-color);
  background-color: var(--white);
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease;
  opacity: 0;
  font-weight: var(--xxxxl-font-weight);
  font-size: 1.4rem;
  min-width: 100%;
}

.nest-history {
  color: black;
  border-radius: var(--general-border-radius);
  background-color: var(--main-app-color);
  background-color: var(--white);
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease;
  opacity: 0;
  font-weight: var(--xxl-font-weight);
  font-size: 1.7rem;
  gap: 15px;
  min-width: 100%;
}

.flash-message.visible {
  opacity: 1;
}

.flash-message h1.nest-url {
  font-size: 1.2rem;
}

.message-details {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
}

.message-details > .message-data {
  color: black;
  border: var(--big-border-width) solid var(--main-app-color);
  padding: 0px;
  display: flex;
  flex-direction: column;
  gap: 0;
  overflow: hidden;
  background-color: var(--main-app-color);
  border-radius: var(--general-border-radius);
}

.message-data > div {
  padding: 0px var(--padding-and-gaps) var(--padding-and-gaps);
}

.message-details > .message-server-url {
  display: flex;
  align-items: center;
  background-color: var(--main-app-color);
  color:black;
  font-weight: var(--xxxl-font-weight);
  font-size: 1.4rem;
  min-height: 65px;
  padding-left: 20px;
  overflow-x: scroll;
  scrollbar-width: none;
  white-space: nowrap;
}

.message-data .arrived-on {
  text-align: end;
  font-weight: var(--xxl-font-weight);
  background-color: var(--main-app-color);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding-right: 20px;
}

.message-data .data {
  height: auto;
  overflow-y: scroll;
  scrollbar-width: none;
}

pre {
  color: var(--white);
  white-space: pre-wrap;
  font-weight: var(--xxl-font-weight);
}

.visible {
  opacity: 1;
}
