
.main-container.lower {
  height: max(100px, 40%);
  background-color: rgb(61, 42, 42);
  /* border: 1px solid salmon; */
  display: flex;
  justify-content: space-between;
  /* justify-content: center; */
  /* height: 100%; */
}

.request-details, .message-details {
  border: 1px solid greenyellow;
  width: max(300px, 43%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 5px;
  /* display: none; */
}

.message-details {
  width: max(100px, 26%);
}

.request-method, .message-server-url, .request-main-details, .message-data {
  width: max(300px, 100%);
  height: 22%;
  border-radius: 30px;
  padding: 10px;
  color: black;
}

.request-method {
  /* font-weight: 900; */
  /* font-size: 60px; */
  font-family: monospace;
  display: flex;
  align-items: center;
}

.request-method > h1 {
  font-size: 30px;
  /* margin-top: 32px;
  margin-left: 20px; */
}

.message-server-url {
  font-size: 15px;
  font-family: monospace;
}

.request-method, .request-main-details  {
  border: 1px solid red;
  background-color: red;
}


.message-server-url, .message-data {
  border: 1px solid white;
}

.request-main-details, .message-data {
  display: flex;
  height: 100%;
  gap: 10px;
}

.request-main-details {
  flex-direction: column;
  gap: 0px;
  overflow-y: scroll;
  scrollbar-width: none;
}

.request-main-details > div.tabs > div:hover {
  background-color: black;
  cursor: pointer;
}
.request-main-details > div.tabs {
  display: flex;
  gap: 10px;
}

.tabs > div.active {
  background-color: black;
}

.request-main-details > div.content {
  display: flex;
  background-color: black;
  height: 100%;
  color: red;
  /* overflow: scroll; */
}

.message-details > div {
  background-color: white;
}

.main-control-area {
  width: max(100px, 30%);
  border: 1px solid aqua;
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  gap: 10px;
}

.main-control-area > div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px
}

.requests-control, .messages-control {
  border: 5px solid aqua;
  border-radius: 30px;
  width: max(33%, 150px);
  width: 100%;
  transition: all 0.5 ease;
  /* visibility: collapse; */
}

.expandable {
  scrollbar-width: none;
  width: 0;
  visibility: collapse;
  opacity: 0;
  overflow: scroll;
  transition: opacity 1s, overflow 1s;
  /* transition: opacity 1s 2s; */
  background-color: lightblue;
  /* height: 50px; */
  
}

.expandable.visible {
  width: 100%;
  visibility: visible;
  overflow: scroll;
  opacity: 1;
}

.expandable.invisible {
  /* width: 0; */
  transition: opacity 1s, overflow 1s;
  /* visibility: collapse; */
  opacity: 0;
  overflow: scroll;
}



.messages-control input,
.messages-control button {
  width: 100%;
}

.main-controls {
  border: 1px solid gray;
  width: 90px;
}