
.main-container.middle {
  color: var(--general-font-color);
  height: max(200px, 40%);
  /* background-color: #064b85; */
  /* background: var(--gradient); */
  background-color: var(--main-app-color);
  display: flex;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  /* border-radius: 40px; */
}

.title-container, .stats-container {
  /* border: 1px solid white; */
  display: flex;
}

.title-container {
  width: 60%;
  /* flex-direction: column; */
  /* justify-content: end; */
  align-items: end;
  /* padding-bottom: 15px; */
  margin-bottom: -17px;
  z-index: 10;
}

.title-container h1 {
  font-size: 8rem;
  margin-left: 80px;
}

.title-container h2 {
  margin-bottom: 12.5px;
  font-size: 2rem;
  font-style: italic;
  margin-left: -20px;
  color: rgb(88, 95, 126);
}

