
.main-container.middle {
  color: white;
  height: max(200px, 40%);
  background-color: rgb(36, 68, 57);
  display: flex;
}

.title-container, .stats-container {
  border: 1px solid white;
  display: flex;
}

.title-container {
  width: 60%;
  /* flex-direction: column; */
  /* justify-content: end; */
  align-items: end;
  padding-bottom: 5px;
}

.title-container h1 {
  font-size: 95px;
  margin-left: 80px;
}

.title-container h2 {
  margin-bottom: 8px;
}

