@media (max-width: 480px) {

  @keyframes request-enter {
    0% {
      transform: translateY(-200%);
    }
    100% {
      transform: translateY(75%);
    }
    
  }
  
  @keyframes slide-right {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(var(--rm-size));
    }
  }

  @keyframes message-enter {
    0% {
      transform: translateY(-200%);
    }
    100% {
      transform: translateY(75%);
    }
    
  }
  
  @keyframes slide-left {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(var(--rm-size));
    }
  }

  #root {
    height: 100vh;
    width: 100vw;
    display: flex;
    font-size: 12px;
    overflow: scroll;
    scrollbar-width: none;
  }
  
  /* Upper */
  
  .main-container.upper {
    height: 100vh;
    width: 25vw;
    flex-direction: row;
    gap: 0px;
    border-top-right-radius: var(--general-border-radius);
    border-bottom-right-radius: var(--general-border-radius);
    padding-top: 10px;
  }
  
  .arrived-elements {
    margin: 0px;
    padding-left: 0px ;
    flex-direction: column;
    height: 100vh;
    justify-content: start;
    align-items: center;
    overflow-y: scroll;
    scrollbar-width: none;
  }
  
  .arrived-elements.messages {
    flex-direction: column;
    padding-right: 0px;
  }
  
  .arrived-elements >.request, .arrived-elements > .message {
    padding: 0px;
    margin: 0px;
  }
  
  .request, .request.new, .request.slide-right,
  .message, .message.new, .message.slide-left {
    width: var(--rm-size);
  }
  
  
  /* Middle */
  
  .main-container.middle {
    display: none;
  }
  
  .title-container h1, .title-container h2 {
    display: none;
  }
  
  
  /* Lower */
  
  .main-container.lower {
    background-color: black;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 75vw;
    margin-top: 55px;
    gap: 10px;
    overflow: scroll;
    scrollbar-width: none;
  }
  
  .request-method h1 {
    font-size: 2rem;
  }
  
  .request-method p, .message-server-url h1{
    font-size: 1.2rem;
  }
  
  .request-details, .message-details, .main-control-area, .messages-control-and-flash-panel {  
    padding: 0px;
    margin: 0px;
    height: 33vh;
    width: 72vw;
  }
  
  .message-details {
    height: 25vh;
  }
  
  .main-control-area {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .main-controls {
    flex-direction: row !important;
    position: absolute;
    align-items: center;
    justify-content: center;
    top: 1vh;
    margin: 0px;
    width: 72vw;
  }

  .nest-history {
    gap: 30px;
  }

  svg {
    width: 2.5vh;
  }

  svg.ws-panel-icon {
    margin-bottom: 3px;
  }

  .request-data-table {
    max-width: 2vw;
    font-size: 0.65rem;
  }

  .request-data-table-key {
    min-width: 110px !important;
  }

  .request-data-table-value {
    /* max-width: 100px !important; */
    padding-right: 20px;
    /* background-color: gray; */
}

}