@media (max-width: 480px) {

  @keyframes request-enter {
    0% {
      transform: translateY(-200%);
    }
    100% {
      transform: translateY(75%);
    }
    
  }
  
  @keyframes slide-right {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(var(--rm-size));
    }
  }

  @keyframes message-enter {
    0% {
      transform: translateY(-200%);
    }
    100% {
      transform: translateY(75%);
    }
    
  }
  
  @keyframes slide-left {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(var(--rm-size));
    }
  }

  #root {
    height: 100vh;
    width: 100vw;
    display: flex;
    font-size: 12px;
    overflow: scroll;
    scrollbar-width: none;
  }
  
  /* Upper */
  
  .main-container.upper {
    height: 100vh;
    width: 25vw;
    flex-direction: row;
    gap: 0px;
    border-top-right-radius: var(--general-border-radius);
    border-bottom-right-radius: var(--general-border-radius);
    padding-top: 10px;
  }
  
  .arrived-elements {
    margin: 0px;
    padding-left: 0px ;
    flex-direction: column;
    height: 98vh;
    justify-content: start;
    align-items: center;
    overflow-y: scroll;
    scrollbar-width: none;
  }
  
  .arrived-elements.messages {
    flex-direction: column;
    padding-right: 0px;
  }
  
  .arrived-elements >.request, .arrived-elements > .message {
    padding: 0px;
    margin: 0px;
  }
  
  .request, .request.new, .request.slide-right,
  .message, .message.new, .message.slide-left {
    width: var(--rm-size);
  }
  
  
  /* Middle */
  
  .main-container.middle {
    display: none;
  }
  
  .title-container h1, .title-container h2 {
    display: none;
  }
  
  
  /* Lower */
  
  .main-container.lower {
    background-color: black;
    height: 99vh;
    margin: 0px;
    padding: 0px;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 75vw;
    padding-top: 7.7vh;
    gap: 10px;
    overflow: scroll;
    scrollbar-width: none;
  }
  
  .request-method h1 {
    font-size: 1.6rem;
  }
  
  .request-method p, .message-server-url h1{
    font-size: 1.2rem;
  }
  
  .request-details, .message-details, .main-control-area, .messages-control-and-flash-panel {  
    padding: 0px;
    margin: 0px;
    height: 33vh;
    width: 72vw;
  }

  .request-main-details, 
  .request-method, 
  .messages-control.expandable, 
  .message-server-url, 
  .message-data,
  .nest-history.visible {
    width: 72vw ;
  }

  .request-method {
    min-height: 0px;
    height: 6vh;
  }

  .request-method h1 {
    font-size: 1.3rem;
    margin-top: auto;
  }

  .request-method p {
    font-size: 0.8rem;
    margin: 0px;
    margin-top: auto;
    margin-bottom: 1px;
  }


  .request-main-details, .message-data {
    font-size: 0.8rem;
    padding-bottom: 0px;
  }

  .request-main-details .arrived-on {
    margin-right: 3px;
    margin-top: 7px
  }

  .request-main-details, .request-data-table th, div.tabs {
    padding: 0px 4px 0px 2px !important;
  }

  .message-data pre.data {
    font-size: 0.7rem;
  }

  .messages-control form {
    width: 60vw;
  }

  .messages-control input#wsServerURL {
    height: 3vh;
  }

  .messages-control-and-flash-panel {
    align-items: center;
  }
  
  .message-details {
    height: 25vh;
  }
  
  .main-control-area {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .main-controls {
    flex-direction: row !important;
    position: absolute;
    align-items: center;
    justify-content: center;
    top: 1vh;
    margin: 0px;
    width: 72vw;
  }

  .nest-history, .flash-message {
    min-width: 72vw;
  }

  .nest-history {
    gap: 5vw;
  }

  svg {
    width: 2.5vh;
  }

  svg.nest {
    width: 2vh;
  }

  svg.ws-panel-icon {
    margin-bottom: 3px;
  }

  .request-data-table {
    max-width: 2vw;
    font-size: 0.65rem;
  }

  .request-data-table-key {
    min-width: 90px !important;
  }


}

@media (max-height: 740px) {
  :root {
    font-size: 11px;
  }

  .messages-control form {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 4px;
  }

  .messages-control form input {
    height: 26px;
  }

  .ws-connection-icon {
    padding-top: 5px;
    height: 22px;
  }
}