
/* Remove all unnecessary calls later */
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  /* Sizes */

  /* General Absolute Sizes based on 16px, the font size by default

  --sA: 4px;
  --sB: 8px;
  --sC: 12px;
  --sD: 16px;
  --sE: 24px;
  --sF: 32px;
  --sG: 48px;
  --sH: 64px;
  --sI: 96px;
  --sJ: 128px;
  --sK: 192px;
  --sL: 256px;
  --sM: 384px;
  --sN: 512px;
  --sO: 640px;
  --sP: 768px;   

  */

  --base-general-pixel-size: 16;
  
  --sA: calc(var(--base-general-pixel-size) * 0.25px);
  --sB: calc(var(--base-general-pixel-size) * 0.5px);
  --sC: calc(var(--base-general-pixel-size) * 1px); 
  --sD: calc(var(--base-general-pixel-size) * 1.5px);
  --sE: calc(var(--base-general-pixel-size) * 2px);
  --sF: calc(var(--base-general-pixel-size) * 3px);
  --sG: calc(var(--base-general-pixel-size) * 4px);
  --sH: calc(var(--base-general-pixel-size) * 5px);
  --sI: calc(var(--base-general-pixel-size) * 6px);
  --sJ: calc(var(--base-general-pixel-size) * 8px);
  --sK: calc(var(--base-general-pixel-size) * 12px);
  --sL: calc(var(--base-general-pixel-size) * 16px);
  --sM: calc(var(--base-general-pixel-size) * 24px);
  --sN: calc(var(--base-general-pixel-size) * 32px);
  --sO: calc(var(--base-general-pixel-size) * 40px);
  --sP: calc(var(--base-general-pixel-size) * 48px);
  --sQ: calc(var(--base-general-pixel-size) * 56px);
  --sR: calc(var(--base-general-pixel-size) * 62px);
  --sS: calc(var(--base-general-pixel-size) * 70px);

  /* General Relative Value based on 1rem (16px by default) */
  --srA: calc(1rem * 0.25);
  --srB: calc(1rem * 0.5);
  --srC: calc(1rem * 1);
  --srD: calc(1rem * 1.5);
  --srE: calc(1rem * 2);
  --srF: calc(1rem * 3);
  --srG: calc(1rem * 4);
  --srH: calc(1rem * 5);
  --srI: calc(1rem * 6);
  --srJ: calc(1rem * 8);
  --srK: calc(1rem * 12);
  --srL: calc(1rem * 16);
  --srM: calc(1rem * 24);
  --srN: calc(1rem * 32);
  --srO: calc(1rem * 40);
  --srP: calc(1rem * 48);
  --srQ: calc(1rem * 56);
  --srR: calc(1rem * 62);
  --srS: calc(1rem * 70);


  /* Fonts */

  --big-font: 30vh;

  --base-font-weight: 400;
  --xl-font-weight: 500;
  --xxl-font-weight: 600;
  --xxxl-font-weight: 700;
  --xxxxl-font-weight: 800;
  --xxxxxl-font-weight: 900;

  /* General Absolute Values for Fonts */
  --fA: 12px;
  --fB: 14px;
  --fC: 16px; 
  --fD: 18px;
  --fE: 20px;
  --fF: 24px;
  --fG: 30px;
  --fH: 36px;
  --fI: 48px;
  --fJ: 60px;
  --fK: 72px;

  /* General Relative Values for Fonts, equivalent to the previous values,
     assuming 1rem = 16px 
  */

  --frA: 0.75rem;
  --frB: 0.875rem;
  --frC: 1rem; 
  --frD: 1.125rem;
  --frE: 1.25rem;
  --frF: 1.5rem;
  --frG: 1.875rem;
  --frH: 2.25rem;
  --frI: 3rem;
  --frJ: 3.75rem;
  --frK: 4.5rem;

  /* General Measurements */

  --rm-border-size: 12px;
  --rm-size: 40px;
  --rm-little-ball: 30px;

  --icon-size: 4.1vh;

  --padding-and-gaps: 10px;


  /* Colors */

  --white: whitesmoke;


  /* Main derivatives */

  --main-app-color:#0b4677;
  --second-color-gradient:#0c68af;

  --complementary: #ff842d;

  --back-nest-color:#093a63;

  --border-color: #1a8494;

  --background-color:  hsl(210, 6%, 4%);
  --light-background-color:  hsl(0, 0%, 9%);

  --general-font-color: var(--white);

  --table-key: #4b6c86;

  /*

  A: 50;
  B: 100;
  C: 200;
  D: 300;

  E: 400; Main app color

  F: 500;
  G: 600;
  H: 700;
  I: 800;
  J: 900;
  K: 950;

  */

  --cA: hsl(184, 89%, 96%);
  --cB: hsl(186, 88%, 90%);
  --cC: hsl(186, 85%, 82%);
  --cD: hsl(186, 84%, 69%);

  --cE: hsl(188, 77%, 56%); /* Main app color*/

  --cF: hsl(188, 85%, 43%);
  --cG: hsl(191, 83%, 36%);
  --cH: hsl(193, 75%, 31%);
  --cI: hsl(194, 62%, 27%);
  --cJ: hsl(197, 57%, 24%);
  --cK: hsl(198, 71%, 7%);

  --low-contrast-font:  #5d8aad;

  /* Methods */

  --get-color:rgb(80, 204, 133);
  --post-color:rgb(235, 144, 25);
  --put-color: rgb(69, 157, 223);
  --delete-color:rgb(194, 73, 87);
  --patch-color:rgb(231, 214, 20);
  --head-color:rgb(209, 162, 238);

  --icon-color: rgb(110, 110, 110);

  --input-color: var(--main-app-color);



  /* Accents */

  /* ----Greys */
  
  /* ----Primaries */
  
  /* ----Accent */
  

  /* Borders */

  --main-components-border: 1px solid var(--border-color);
  --general-border-radius: 40px;

  --big-border-width: 14px;

  --gradient: linear-gradient(to right, var(--main-app-color), var(--second-color-gradient));
}