.main-container.upper {
  background-color: var(--main-app-color);
  height: max(100px, 20%);
  display: flex;
  flex-direction: column;
  gap: var(--rm-little-ball);
  justify-content: center;
}

.arrived-elements {
  width: 100%;
  height: var(--rm-little-ball);
  display: flex;
  gap: var(--sB);
  padding-left: var(--sB);
}

.arrived-elements > .request {
  cursor: pointer;
  color: black;
  min-width: var(--rm-size);
  height: var(--rm-size);
  border-radius: 100px;
  margin-left: var(--sB);
  border: var(--rm-border-size) solid black;
  transition: border-color 0.6s ease;
}

.request.new {
  animation-name: request-enter;
  animation-duration: 0.8s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

.request.active {
  border: var(--rm-border-size) solid var(--white);
}

.request.slide-right {
  animation-name: slide-right;
  animation-duration: 0.6s;
  animation-timing-function: ease-out;
  animation-fill-mode:forwards;
}

@keyframes request-enter {
  0% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(100%);
  }
  
}

@keyframes slide-right {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(var(--rm-size));
  }
}

.arrived-elements.messages {
  flex-direction: row-reverse;
}

.arrived-elements > .message {
  background-color: var(--white);
  min-width: var(--rm-size);
  height: var(--rm-size);
  border-radius: 100px;
  margin-right: var(--sB) ;
  border: var(--rm-border-size) solid black;
  cursor: pointer;
  transition: border-color 0.6s ease;
}

.message.new {
  animation-name: message-enter;
  animation-duration: 0.8s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  background-color:var(--white);
  margin-right: var(--sC);
}

.message.active {
  border: var(--rm-border-size) solid var(--white);
  background-color: black;
}

.slide-left {
  animation-name: slide-left;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-fill-mode:forwards;
}

.request:hover, .message:hover {
  border-color: var(--white);
}

@keyframes message-enter {
  0% {
    transform: translateX(200%);
  }
  100% {
    transform: translateX(-100%);
  }
  
}

@keyframes slide-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-40px);
  }
}
