.main-container.upper {
  background-color: var(--main-app-color);
  /* background-color: black; */
  /* background: var(--gradient); */
  height: max(100px, 20%);
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
}

.arrived-elements {
  width: 100%;
  /* background-color: black; */
  /* background: var(--gradient); */
  /* background: linear-gradient(to right, #ff7e5f, #feb47b); */
  height: 30px;
  display: flex;
  gap: 10px;
  padding-left: 10px;
  /* justify-content: ; */
  /* overflow-x: auto; */
}

.arrived-elements > .request {
  cursor: pointer;
  color: black;
  min-width: 40px;
  height: 40px;
  border-radius: 100px;
  margin-left: 10px;
  border: 12px solid black;
  /* transition: transform 0.3s ease; */
  transition: border-color 0.6s ease;
}

.request.new {
  /* border: 12px solid gold; */
  animation-name: request-enter;
  animation-duration: 0.8s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  background-color: aliceblue;
}

.request.active {
  border: 12px solid rgb(255, 255, 255);
}

.request.slide-right {
  animation-name: slide-right;
  animation-duration: 0.6s;
  animation-timing-function: ease-out;
  animation-fill-mode:forwards;
}

@keyframes request-enter {
  0% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(100%);
  }
  
}

@keyframes slide-right {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(40px);
  }
}

.arrived-elements.messages {
  flex-direction: row-reverse;
}

.arrived-elements > .message {
  color: black;
  background-color: white;
  min-width: 40px;
  height: 40px;
  border-radius: 100px;
  margin-right: 10px ;
  border: 12px solid black;
  cursor: pointer;
  transition: border-color 0.6s ease;
}

.message.new {
  animation-name: message-enter;
  animation-duration: 0.8s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  background-color: aliceblue;
  /* border: 12px solid gold; */
  margin-right: 10px;
}

.message.active {
  border: 12px solid rgb(255, 255, 255);
  background-color: black;
}

.slide-left {
  animation-name: slide-left;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-fill-mode:forwards;
}

@keyframes message-enter {
  0% {
    transform: translateX(200%);
  }
  100% {
    transform: translateX(-100%);
  }
  
}

@keyframes slide-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-40px);
  }
}

.request[data-method="GET"] {
  background-color: var(--get-color);
}
.request[data-method="POST"] {
  background-color: var(--post-color);
}
.request[data-method="GET"] {
  background-color: var(--get-color);
}