.ws-toggle-container {
  display: inline-block;
  cursor: pointer;
}

.ws-toggle-switch {
  width: 42px;
  height: 24px;
  border-radius: 35px;
  position: relative;
  transition: background-color 0.3s;
}

.ws-toggle-switch.off {
  background-color: var(--icon-color);
  background-color: black;
}

.ws-toggle-switch.on {
  background-color: var(--main-app-color);
}

.ws-toggle-handle {
  width: 17px;
  height: 18px;
  background-color: whitesmoke;
  border-radius: 50%;
  position: absolute;
  top: 3px;
  left: 1px;
  transition: transform 0.3s;
}

.ws-toggle-handle.on {
  transform: translateX(22px);
}

.ws-toggle-handle.off {
  transform: translateX(1px);
}